@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

/* resets the whole page */
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent ;
}
/* makung sure the body is full page */
html,body{
    height: 100%;
}

body{
    /* centering everything */
    display: flex;
    align-items: center;
    justify-content: center;
    /* makiing sure everything is under each other ,in a column way. 
    ---the default is flex-direction : row;
    */
    flex-direction: column;

    /* applying the imported font */
    font-family: 'Coming Soon', cursive;
    background: #040404;
}

label{
    /* to make sure we can use position: absolute on the children (label ->p),
     so we put position: relative on the parent element (label) */
    position: relative;
}

label input{
    /* styling the font 
    ---
    using font-family: inherit; to get the pass down the properties of the body*/
    font-family: inherit;
    font-size: 1rem;
    color: #f9f9f9;
    background: transparent;
    padding: 1rem 1.2rem;
    min-width: 24rem;
    border-radius: 10.2rem;
    border: 2px solid #7a7a7a56;
    /* for a smooth transition on border-color change */
    transition: border-color 0.2s;
}

label input ::selection{
    background: #7a7a7a56;
}

label p {
    color: #f9f9f9;
    font-size: 1rem;
    /* disabling text-selection */
    user-select: none;
    /* we want to use position: absolute hence we used the position : relative on the parent.(label) */

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.8rem;
    /* making a little gap between the border */
    padding: 0 0.4rem;
    background: #040404;

    /* adding smooth animations on change */
    transition: top 0.2s, font-size 0.2s,color 0.2s;
}

label input:not(:placeholder-shown) + p{
    top: 0;
    font-size: 0.9rem;
    color: #7a7a7a56;
}

label input:not(:placeholder-shown){
    border-color: #ff4754;
}

label input :placeholder-shown + p{
    color: #7a7a7a56;
}

button{
    font-family: inherit;
    font-weight: inherit;
    font-size: 1rem;
    user-select: none;

    margin-top: 1.2rem;
    padding: 1rem 1.2rem;
    min-width: 24rem;
    border-radius: 10.2rem ;
    background: #ff4754;
    color: #040404;

    transition: opacity 0.2s;

}
button ::hover{
    cursor: pointer;
    opacity: 0.6;

}